body {background-color: rgb(96, 189, 189);}
h1 {color:white; text-align: center;}
body {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
#intro {border: 2px dotted rgb(255, 255, 255);}
table { margin: 0 auto; width: 50%; }
/* i hope you're having a good day */
img {display: block; margin: 0 auto;}
body {text-align: center;}
body {font-size: large; color: rgb(67, 66, 67);}
/* i don't know if this looks good but here it is */